@font-face {
    font-family:'Geist Med';
    src:url('/assets/fonts/geist-med.woff2') format('woff2');
}

@font-face {
    font-family:'Geist Reg';
    src:url('/assets/fonts/geist-reg.woff2') format('woff2');
}

@font-face {
    font-family:'Geist Mono';
    src:url('/assets/fonts/geist-mono.woff2') format('woff2');
}

:root {
    --dark:#020100;
    --light:#FEFFFA;
    --mute:color-mix(in srgb, var(--dark) 40%, transparent);
    --sans:'Geist Reg', -apple-system, sans-serif;
    --mono:'Geist Mono', monospace;
}

html {
    background-color:var(--light);
    color:var(--dark);
    font-family:var(--sans), Times, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size:14px;
    font-weight:400;
    letter-spacing:-0.02em;
    line-height:130%;
}

a {
    text-decoration:none;
    color:var(--dark);
}

a:hover {
    text-decoration:underline;
    text-decoration-style:dotted;
}

main {
    height:85dvh;
    display:flex;
    flex-direction:column;
    padding:2.25em 2.5em;
    align-items:center;
    justify-content:center;
}

.site {
    width:540px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

header, article {
    margin:0;
    padding:0;
}

article > ul {
    padding-left:0;
    margin-left:0;
    margin-bottom:2rem;
}

article > ul > li {
    list-style-type:none;
    padding-left:0;
    margin-left:0;
    margin-bottom:0.5rem;
    padding-top:0;
}

article > ul > li > a {
    text-decoration:underline;
    text-decoration-style:dotted;
    text-underline-offset:2px;
}

article > ul > li > a:hover {
    text-decoration-style:solid;
}

footer {
    color:var(--mute);
    font-family:var(--mono);
    letter-spacing:0; 
    line-height:100%;
}

footer > p > small > a {
    color:var(--mute);
    font-family:var(--mono);
    letter-spacing:0;
    line-height:100%;
    text-decoration:underline;
    text-decoration-style:dotted;
    text-underline-offset:2px;
}

footer > p > small > a:hover {
    text-decoration-style:solid;
}

@media only screen and (max-width: 767px) {
    main {
        height:85dvh;
        display:inline-block;
        margin:0 auto;
    }

    .site {
        max-width:80dvw;
        margin:0 auto;
        overflow-x:hidden;
    }
}

@media only screen and (max-width: 441px) {
    main {
        height:85dvh;
        display:inline-block;
        margin:0 auto;
    }

    .site {
        max-width:80dvw;
        margin:0 auto;
        overflow-x:hidden;
    }
}